@font-face {
  font-display: swap;
  font-family: "MazzardH";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MazzardH-Regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "MazzardH";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/MazzardH-Bold.woff2") format("woff2");
}